*{

	background-color: #6A6C73;

}

h1{
	
	font-family: Arial, Sans-serif;
	color=green;

}

h2{

	font-family: Arial, Sans-serif;
	color=white;

}

a{

	font-family: Sans-serif;
	color: white;

}

img{

	border: 4px solid #FFF;

}